<div class="class">
  <div class="getAllItem">

    <mat-card class="example-card" *ngFor="let pizza of pizzaData">
      <mat-card-header class="header">
        <mat-card-title><b>Pizza Name :</b>&nbsp; <i>{{pizza.pizzaName}}</i></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets\bg2.jpg" width="400px" height="300px">



      <mat-card-content>
        <p><b>Pizza Size :</b>&nbsp;{{pizza.pizzaSize}}</p>
        <p><b>Pizza Price :</b>&nbsp;{{pizza.pizzaPrice}}</p>
        <p><b>Pizza Quantity :</b>&nbsp;{{pizza.pizzaQuantity}}</p>
      </mat-card-content>


      <mat-card-actions>
        <button mat-button (click)="getPizzaForEdit(pizza)">Edit</button>
        <button mat-button (click)="deleteItem(pizza.pizzaId)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div class="container">

    <div class="card">
      <mat-card class="cardcontainer">
        <h2> Update Pizza Form</h2>
        <form [formGroup]="UpdateForm" (ngSubmit)="updatePizza()">

          <mat-form-field class="field">
            <input matInput placeholder="Enter Pizza Id" type="number" name="pizzaId" formControlName="pizzaId" ngModel>
            <mat-error *ngIf="pizzaId?.errors?.['required']">PizzaId is required.</mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <input matInput placeholder="Enter Pizza Name" type="text" name="pizzaName" formControlName="pizzaName"
              ngModel>
            <mat-error *ngIf="pizzaName?.errors?.['required']">pizzaName is required.</mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <mat-label>Enter Pizza Size</mat-label>

            <mat-select name="pizzaSize" type="text" formControlName="pizzaSize" ngModel>
              <mat-option value="Small">Small</mat-option>
              <mat-option value="Medium">Medium</mat-option>
              <mat-option value="Large">Large</mat-option>
            </mat-select>

            <mat-error *ngIf="pizzaSize?.errors?.['required']">pizzaSize is required.</mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <input matInput placeholder="Enter Pizza Price" type="text" name="pizzaPrice" formControlName="pizzaPrice"
              ngModel>
            <mat-error *ngIf="pizzaPrice?.errors?.['required']">PizzaPrice is required.</mat-error>
          </mat-form-field>

          <mat-form-field class="field">
            <input matInput placeholder="Enter Pizza Quantity" type="text" name="pizzaQuantity"
              formControlName="pizzaQuantity" ngModel>
            <mat-error *ngIf="pizzaQuantity?.errors?.['required']">pizzaQuantity is required.</mat-error>
          </mat-form-field>



          <br><br>

          <button type="submit" [disabled]="!UpdateForm.valid">Update Pizza</button><br><br>

        </form>
      </mat-card>
    </div>
  </div>
</div>