<div class="container">

    <h1>
        Online Pizza Ordering System
    </h1>
    <br>
    <h2>
        What We Need - More Choice. More Fun.
    </h2>
    <br>
    <p>No matter what the situation, pizza always helps. Especially a pizza that gives you the freedom to choose
        your<br>
        toppings - from paneer, crisp capsicum, onion, grilled mushroom, golden corn, black olives, fresh tomato,
        red<br>
        paprika, jalapeno, paneer tikka and extra cheese to non-veg toppings such as pepper barbeque chicken, peri-peri
        <br>
        chicken, grilled chicken rasher, chicken sausage or chicken tikka- the options are almost endless, anything and
        <br>
        everything you can think of that too on top of the crust of your choice - New hand-tossed crust, wheat thin <br>
        crust, cheese burst crust, classic hand-tossed crust or a fresh pan pizza. Because just like a pizza, Domino's
        <br>
        understands you.
    </p>

    <img src="\assets\home2.jpg" width="600px" height="340px">
    <img src="\assets\home.jpg" width="600px" height="340px">

</div>