<div class="container">

    <h1>
        Welcome Admin
    </h1>
    <p>
        <b> A person who is in charge of the operation of a network of computers, a website, a group of computer users,
            etc.,</b>
    </p>
    <h3>
        <p>Admin need To add the Pizza Click below👇</p>
        <br>
        <a href="StorePizza">Add Pizza</a>
        <br>
        <br>
        <br>
        <p>Admin need To Get Update Delete the Pizza Click below👇</p>
        <br>
        <a href="ViewPizza">ViewPizza</a>
    </h3>
</div>